JLink*
archive.zip
*out.txt
*.out
*~*
*.uvgui*
*.uvoptx

sources/.vs/*
sources/generated/*

sources/Loader/Objects/*

sources/Panel/Objects/*
sources/Panel/Listings/*
sources/Panel/Objects-Debug/*
sources/Panel/Listings-Debug/*
sources/Panel/DebugConfig/*

